main{                               /*résolution de la taille de l'écran pour meilleur affichage*/
    width: 97%;
    margin: 0 auto;
}
.home_page main>*:last-child{                  /*dimension de 'prochainement'*/
    width: 80%;
    margin-bottom: 120px;
    font-size: 20px;
}
article{                            /*dimension de chaque menu*/
    width: 80%;
    padding-top: 120px;
    padding-bottom: 120px;
}
footer{                             /*changement de la taille de la police du footer*/
    font-size: 20px;
}
.home_page main>*:nth-child(1){                 /*supression de la marge basse du premier menu*/
    margin-bottom: 0px;
}
li{                                                     /*liste de plat*/
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
span{                                                   /*prix*/
    padding-top: 20px;
}

.Menu1 h3{                                                             /*titre de chaque partie des menus*/
    width: 40%;
    margin: 0 auto;
}
ul{                                                                                 /*bloc liste*/
    padding: 10px;
   
}
.Menu2 h3{                                     /*titre de chaque partie*/
    width: 45%;
    margin: 0;
}
.Menu2 ul{
    margin: 0;
}