main{                                              /*résolution de la taille de l'écran pour meilleur affichage*/
    width: 97%;
    margin: 0 auto;
}
.home_page>*:last-child{                           /*dimension de 'prochainement'*/
    width: 80%;
    margin-bottom: 120px;
    font-size: 20px;
}
article{                                           /*dimension de chaque menu*/
    width: 80%;
    padding-top: 120px;
    padding-bottom: 120px;
}
footer{                                             /*changement de la taille de la police du footer*/
    font-size: 20px;
}
li{                                                /*liste de plat*/
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.home_page>*:nth-child(2){                          /*suppression de la marge haute du 2eme menu*/
    margin-top: 0;
}
span{                                               /*prix*/
    padding-top: 20px;
}
ul{                                                 /*bloc liste*/
    padding: 10px;
    padding-top: 10px;
}
.Menu2 ul,.Menu3 ul, .Menu4 ul{                     /*bloc liste des menus 2,3 et 4*/
    margin: 0;
}
.Menu1, .Menu2, .Menu3, .Menu4{                     /*taille des menus*/
    width: 80%;
    padding: 10px;
}
.Menu2 h3{ 
    
    word-wrap: wrap;
}