main{                                    /*résolution de la taille de l'écran pour meilleur affichage*/
    width: 980px;
    margin: 0 auto;
}
main>*:last-child{                      /*dimension du "prochainement"*/
    width: 35%;
    margin-bottom: 100px;
}
article{                                /*dimension de chaque menu*/
    padding-top: 150px;
    padding-bottom: 150px;
    width: 35%;
}
