main{                                                           /*résolution de la taille de l'écran pour meilleur affichage*/
    width: 760px;
    margin: 0 auto;
}
.home_page>*:last-child{                                         /*dimension du 'prochainement'*/
    width: 45%;
    margin-bottom: 100px;
}            
article{                                                         /*dimension de chaque menu*/
    width: 35%;
    padding-top: 120px;
    padding-bottom: 120px;
}
.Menu2 ul,.Menu3 ul,.Menu4 ul{                                  /*bloc de chaque partie des menuss 2,3 et 4*/
    margin: auto 40px;
}
