main{                                                           /*résolution de la taille de l'écran pour meilleur affichage*/
    width: 760px;
    margin: 0 auto;
}
.home_page main>*:last-child{        /*dimension du 'prochainement'*/
    width: 45%;
    margin-bottom: 100px;
}            
article{                                                         /*dimension de chaque menu*/
    width: 35%;
    padding-top: 120px;
    padding-bottom: 120px;
}
.Menu1 h3, .Menu3 h3, .Menu4 h3{
    width: 25%;
}
.Menu2 h3{                                                 /*titre de chaque partie*/
    width: 33%;
}

.Menu2 ul,.Menu3 ul,.Menu4 ul{                                                             /*bloc de chaque partie*/
    margin: auto 110px;
}