body{
    font-family: 'Montserrat';
    font-size: 30px;
}

header{
    font-size: 50px;
    background-color:rgb(93, 157, 138);
    text-align: center;
    color:rgb(250, 202, 71) ;
    padding: 40px;
    font-weight: bold;
    letter-spacing: -5px;
    border-bottom: 1.5px solid rgb(159, 204, 107);
    
}

footer{

    background-color: rgb(93, 157, 138);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid rgb(159, 204, 107);

    
}
main>*:last-child{
    background-color: rgb(93, 157, 138);
    color:rgb(250, 202, 71);
    width: 25%;
    text-align: center;
    padding: 10px;
    margin: auto 5% 5% 5%;
    justify-content: center;
    border-radius: 10px ;
    
    
    
}
footer a
{
    text-decoration: none;
    color:rgb(250, 202, 71);
    
}

main a{
    text-decoration: none;
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

article{

    width: 25%;
    font-size: 30px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    box-shadow: 1px 0px 20px lightgrey;
    
}

article h2{
    margin: 20px;
}

main>*:nth-child(1) h3{
    font-family: 'Devonshire';
   
    
}
main>*:nth-child(2) h3{
    font-family: 'Croissant One';
    font-size: 20px;
    
    
}
main>*:nth-child(3) h3{
    font-family: 'Dancing Script';

    
}
main>*:nth-child(4) h3{
    font-family: 'Kaushan Script';
    
}
main>*:nth-child(2) h2{
    font-family:'Playfair Display' ;
}


main>*:nth-child(3) h2, div>*:nth-child(4) h2{

    font-family: 'Shadows Into Light';
    font-weight: bold;
}

main>*:nth-child(1){
    background-color:rgb(253, 220, 218) ;
    margin: 5%;
    
}

main>*:nth-child(2){
background-color:rgb(247, 236, 245);
margin: 5%;

}

main>*:nth-child(3){
    background-color:rgb(238, 240, 242);
    margin: auto 5% 5% 5%;
    
}


main>*:nth-child(4){
    background-color:rgb(255, 255, 255);
    margin: auto 5% 5% 5%;
}

