header{                                                                  /*mise en page du header */
    font-family: 'Montserrat';
    font-size: 50px; 
    background-color:rgb(93, 157, 138);
    text-align: center;
    color:rgb(250, 202, 71) ;
    padding: 40px;
    font-weight: bold;
    letter-spacing: -5px;
    border-bottom: 1.5px solid rgb(159, 204, 107);
}
footer{                                                                   /*mise en page du footer*/
    font-family: 'Montserrat';
    background-color: rgb(93, 157, 138);
    padding: 20px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid rgb(159, 204, 107);
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.home_page main >*:last-child{                                                       /*le "prochainement"*/
    font-family: 'Montserrat';
    background-color: rgb(93, 157, 138);
    font-size: 25px;
    color:rgb(250, 202, 71);
    width: 30%;
    padding: 10px;
    margin:0 5% 8% 5%;
    border-radius: 10px ;
    display: flex;
    justify-content: center;
}
.fa-circle{                                                                 /*les points de suspension*/
    font-size: 4px;
    margin: 3px 0;
    padding:0 10px;
    display: flex;
    align-self: flex-end;
}
.home_page main div>*:nth-child(2){                                                
    animation: loading 1s ease-in-out infinite;
} 
.home_page main div>*:nth-child(3){
    animation: loading 1s ease-in-out infinite 300ms;
}
.home_page main div>*:nth-child(4){
    animation: loading 1s ease-in-out infinite 600ms ;
}                                                                    /*animation des points*/
@keyframes loading{
    
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1; 
    }
    
}
footer a                                                             /*lien non soulignés et de couleur jaune dans le footer*/
{
    text-decoration: none;
    padding: 0 5px;
    color:rgb(250, 202, 71);
}
footer a:hover{                                                
    animation: wiggles 200ms ease-out infinite;
}                                                                    /*animation du footer*/
@keyframes wiggles{
    
    25%{
        transform: translateX(4px) rotate(1deg);
    }
    75%{
        transform: translateX(-4px) rotate(-1deg);
    }
    
}
.home_page main{                                                                 /*mise en page du main*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home_page .fa-music{                                                              /*style de la note de music*/
    font-size: 40px;
    padding-bottom: 10px;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(180deg,rgb(221, 76, 120),rgb(223, 138, 67));
}
article a{                                                                  /*lien non soulignés dans le main*/
text-decoration: none;  
display: block;
}
article a:hover{                                                            /*animation sur le lien des pages*/
    transition: ease-in-out 400ms;
    transform: scale(1.12);
    opacity: 0.7;
}
article{                                                                /*mise en page de chaque menu*/
    width: 40%;
    font-size: 30px;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px;
    box-shadow: 1px 0px 20px lightgrey;
}
article h2{                                                                 /*espace pour les mots 'menus'*/
    margin: 20px;
}
.home_page main>*:nth-child(1) h3{                                                     /*la note enchantée*/
    font-family: 'Devonshire';
    color: rgb(71, 31, 24);
}
.home_page main>*:nth-child(1) h2{                                                    /*1er 'menu'*/
    font-family: "Itim";
    color: rgb(71, 31, 24);
    font-style: italic;
    font-size: 40px;
    margin-top: 40px;
}
.home_page main>*:nth-child(2) h3{                                                    /*chic à la française*/
    font-family: 'Croissant One';
    padding: 10px;
    font-size: 20px;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(180deg,rgb(129, 58, 223),rgb(223, 138, 67));
} 
.home_page main>*:nth-child(2) h2{                                                         /*2eme 'menu'*/
    font-family:'Playfair Display';
    color: rgb(223, 137, 67);
    font-weight: bold;
    font-size: 35px;
    margin-top: 50px;
}
.home_page main>*:nth-child(3) h3{                                                     /*le délice des papilles*/
    font-family: 'Dancing Script';
    padding: 10px;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(180deg,rgb(6, 164, 255),rgb(59, 20, 201));
}
.home_page main>*:nth-child(3) h2{                                                     /*3ème 'menu'*/
    font-family: 'Caveat';
    font-size: 50px;
    margin-top: 40px;
    color: rgb(6, 164, 255);
}
.home_page main>*:nth-child(4) h3{                                                        /*la palette du gout*/
    font-family: 'Kaushan Script';
    padding: 10px;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(60deg,rgb(44, 102, 47),rgb(144, 255, 92),rgb(238, 255, 0));
}
.home_page main>*:nth-child(4) h2{                                                       /*4ème 'menu'*/
    font-family: 'Caveat';
    color: rgb(96, 189, 83);
    font-size: 50px;
    margin-top: 40px;
}
.home_page main>*:nth-child(1){                                                            /*couleur de fond du 1er menu*/
    background-color:rgb(253, 220, 218) ;
    margin: 40px;
}
.home_page main>*:nth-child(2){                                                           /*couleur de fond du 2eme menu*/
    background-color:rgb(247, 236, 245);
    margin: 40px;
}
.home_page main>*:nth-child(3){                                                            /*couleur de fond du 3eme menu*/
    background-color:rgb(238, 240, 242);
    margin: auto 40px 40px 40px;
}
.home_page main>*:nth-child(4){                                                            /*couleur de fond du 4eme menu*/
    background-color:rgb(255, 255, 255);
    margin: auto 40px 40px 40px;
}
.Menu1{                                                                                 /*définition du body*/
    color:rgb(71, 31, 24);
    background-color:rgb(253, 220, 218) ;
}
.Menu1 main{
    font-family: 'Caveat',serif;
    font-size: 25px;
}
.Menu1 main >*:first-child .fa-music{                                                              /*style de la 1ere note de musique */
    font-size: 45px;
    padding-bottom: 10px;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(180deg,rgb(255, 145, 0), rgb(180, 22, 96));
}
.Menu1 main h1{                                                                               /*titre de la page*/
    font-size: 35px;
    font-family: 'Devonshire';
    font-weight: normal;
    
}
.Menu1 main >*:nth-child(1)                                                             /*la note+le titre*/
{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.Menu1 h3{                                                                             /*titre de chaque partie du menu*/
    font-size: 30px;
    width: 18%;
    text-align: center;
    font-weight: bold;
    margin: 40px auto;
}
 h3::after {                                                                     
    content: "";
    display: block;
    height: 1px;
    margin-top: 5px;
    width: 0;
    transition: width 400ms ease-in-out;                                /*animation du surlignement*/
  }
.Menu1 :hover::after {
    width: 100%;
    background-image: -webkit-linear-gradient(180deg,rgb(255, 145, 0), rgb(180, 22, 96));
  }
  
 li{                                                                                /*liste*/
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
 .Menu1 span, .Menu3 span, .Menu4 span{                                                                               /*prix*/
    font-weight: bold;
}
.Menu1 ul{                                                                                 /*bloc liste*/
    padding-bottom: 60px;
}
.Menu1 main>*:last-child{                                                                   /*titre du menu à la fin*/
    font-family: 'Devonshire';
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 60px;


}
.Menu1 main>*:last-child .fa-music{                                                        /*la 2ème note de musique*/
    font-size: 35px;
    margin: auto 10px;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(180deg,rgb(255, 145, 0), rgb(180, 22, 96));
}
.border{                                                                                 /*titre + bordure*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.Menu1 main div div{                                                                        /*bordure*/
    width: 30%;
    height: 5px;
    margin: auto 10px;
    background-color:rgb(71, 31, 24);
}

.Menu2{                                                               /*mise en page générale*/
    
    background-color:rgb(247, 236, 245);
}
.Menu2 main{
    font-family:'Playfair Display' ;
    font-size: 18px;
}
.Menu2 main h1{                                                                    /*titre principale*/
    font-family: 'Croissant One';
    font-size: 32px;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(180deg,rgb(129, 58, 223),rgb(170, 97, 157),rgb(223, 138, 67));
    text-align: center;
    margin: 50px 0;
}
main div{                                                               /*titre+bordure*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.Menu2 main>*:nth-child(2){                                                    /*premier titre*/
    color:rgb(223, 138, 67) ;
}
.Menu2 main>*:nth-child(4){                                                       /*deuxième titre*/
    color:rgb(199, 119, 184);
}
.Menu2 main>*:nth-child(6){                                                    /*troisième titre*/
    color:rgb(129, 58, 223);
}
.Menu2 h3{                                                                     /*titres*/
    font-size: 20px;
    width: 24%;
    text-align: center;
    margin: 40px 0;
}

.Menu2 h3:hover::after {
    width: 100%;
    background-image: -webkit-linear-gradient(190deg,rgb(129, 58, 223),rgb(170, 97, 157),rgb(223, 138, 67));
  }

.Menu2 ul, .Menu3 ul, .Menu4 ul{                                                                                 /*bloc liste*/
    padding-bottom: 60px;
    margin: auto 150px;
 
}
.Menu2 main>*:nth-child(3){                                                                /*premier bloc*/
    color:rgb(223, 138, 67) ;
}
.Menu2 main>*:nth-child(5){                                                                /*deuxième bloc*/
    color:rgb(170, 97, 157);
}
.Menu2 main>*:nth-child(7){                                                                /*troisième bloc*/
    color:rgb(129, 58, 223);
    padding-bottom: 150px;
}
.Menu2 div>:nth-child(1){                                                                  /*bordure gauche*/
    width: 30%;
    height: 150px;
    margin-right: 20px;
    -webkit-clip-path: polygon(87% 47%, 100% 50%, 87% 54%, 0 51%);
    clip-path: polygon(87% 47%, 100% 50%, 87% 54%, 0 51%);
    
}
.Menu2 div>:nth-child(3){                                                                  /*bordure droite*/
    width: 30%;
    height: 150px;
    margin-left: 20px;
    -webkit-clip-path: polygon(13% 47%, 100% 50%, 13% 54%, 0 51%);
    clip-path: polygon(13% 47%, 100% 50%, 13% 54%, 0 51%);
    
}
.Menu2 main>*:nth-child(2) div{                                                            /*première bordure*/
    background-color: rgb(223, 138, 67);
}
.Menu2 main>*:nth-child(4) div{                                                            /*deuxième bordure*/
    background-color: rgb(170, 97, 157);
}
.Menu2 main>*:nth-child(6) div{                                                             /*troisième bordure*/
    background-color: rgb(129, 58, 223);
}
.Menu3{
    background-color:rgb(248, 250, 252);
}
.Menu3 main, .Menu4 main{
    font-family:'Caveat';
    font-size: 23px;
}
.Menu3 main h1{                                                            /*titre principal*/
    font-family: 'Dancing script';
    font-size: 45px;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(right,rgb(181, 228, 255),rgb(14, 98, 255),rgb(62, 41, 248));
    text-align: center;
    margin: 70px 0;
}

.Menu3 h3{                                                                    /*titre de chaque partie*/
    font-size: 25px;
    width: 19%;
    text-align: center;
    margin: 40px 0;
}

.Menu3 h3:hover::after {
    width: 100%;
    background-image: -webkit-linear-gradient(right,rgb(6, 164, 255),rgb(14, 98, 255),rgb(62, 41, 248));
  }



.Menu3 main>*:nth-child(7){                                                                /*dernier bloc*/
    padding-bottom: 130px;
}

.Menu3 div>*:nth-child(1){                                                                 /*bordure gauche*/
    width: 30%;
    height: 10px;
    border-radius: 10% 10% / 0% 100% ;
    margin: 0 20px;
    
}
.Menu3 div>*:nth-child(3){                                                                 /*bordure droite*/
    width: 30%;
    height: 10px;
    border-radius: 10% 10% / 100%  0% ;
    margin: 0 20px;
}
.darkblue{                                                                             /*première bordure*/
    border-bottom:rgb(62, 41, 248) 5px solid;
}
.blue{
    border-bottom:rgb(14, 98, 255) 5px solid;                                       /*deuxième bordure*/
}
.lightblue{
    border-bottom: rgb(6, 164, 255) 5px solid;                                      /*troisième bordure*/
}
.Menu4 main h1{                                                                    /*titre principale*/
    font-family: 'Kaushan script';
    font-size: 50px;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(60deg,rgb(58, 124, 61),rgb(144, 255, 92),rgb(238, 255, 0));
    text-align: center;
    padding: 50px;
    margin: 70px 0;
}

.Menu4 h3{                                                                     /*titre de chaque partie*/
    font-size: 25px;
    width: 17%;
    text-align: center;
    margin: 40px 0;
}

.Menu4 h3:hover::after {
    width: 100%;
    background-image: -webkit-linear-gradient(60deg,rgb(157, 255, 0),rgb(132, 197, 101),rgb(44, 102, 47),rgb(132, 197, 101),rgb(157, 255, 0));
}


.Menu4 main>*:nth-child(7){                                                                /*dernier bloc*/
    padding-bottom: 130px;
}
.Menu4 div>*:nth-child(1){                                                                 /*bordure gauche*/
    width: 30%;
    height: 100px;
    margin-right: 20px;
    -webkit-clip-path: polygon(0% 51%, 4% 48%, 14% 49%, 25% 47%, 31% 49%, 40% 46%, 54% 49%, 65% 47%, 76% 49%, 86% 46%, 100% 47%, 99% 53%, 88% 54%, 77% 56%, 65% 54%, 54% 56%, 41% 53%, 32% 55%, 24% 54%, 15% 55%, 6% 53%, 0% 56%);
    clip-path: polygon(0% 51%, 4% 48%, 14% 49%, 25% 47%, 31% 49%, 40% 46%, 54% 49%, 65% 47%, 76% 49%, 86% 46%, 100% 47%, 99% 53%, 88% 54%, 77% 56%, 65% 54%, 54% 56%, 41% 53%, 32% 55%, 24% 54%, 15% 55%, 6% 53%, 0% 56%);
    background-image: -webkit-linear-gradient(60deg,rgb(44, 102, 47),rgb(132, 197, 101),rgb(157, 255, 0));
}
.Menu4 div>*:nth-child(3){                                                                 /*bordure droite*/
    width: 30%;
    height: 100px;
    margin-left: 20px;
    -webkit-clip-path: polygon(100% 51%, 96% 48%, 86% 49%, 75% 47%, 69% 49%, 60% 46%, 46% 49%, 35% 47%, 24% 49%, 14% 46%, 0% 47%, 1% 53%, 12% 54%, 23% 56%, 35% 54%, 46% 56%, 59% 53%, 68% 55%, 76% 54%, 85% 55%, 94% 53%, 100% 56%);
    clip-path:  polygon(100% 51%, 96% 48%, 86% 49%, 75% 47%, 69% 49%, 60% 46%, 46% 49%, 35% 47%, 24% 49%, 14% 46%, 0% 47%, 1% 53%, 12% 54%, 23% 56%, 35% 54%, 46% 56%, 59% 53%, 68% 55%, 76% 54%, 85% 55%, 94% 53%, 100% 56%);
    background-image: -webkit-linear-gradient(60deg,rgb(157, 255, 0),rgb(132, 197, 101),rgb(44, 102, 47));
}
.Legal_Notice div{
    font-family: 'Montserrat';
    background-color: rgb(93, 157, 138);
    border: 1.5px solid rgb(159, 204, 107);
    color:rgb(250, 202, 71); 
    font-size: 18px;
    flex-direction: column;
    margin: 100px auto;
    text-align: center;
    padding: 20px ;
    padding-bottom: 40px;
}
.Legal_Notice h2{
    font-family: 'Dancing script';
    font-size: 40px;
    margin-top: 80px;
    text-align: center; 
    color: rgb(250, 202, 71);
    animation: turn 1.2s ease-out infinite;
}                                                                    
@keyframes turn{
    
    30%{
        transform: rotateX(360deg);
    }
   70%{
        transform: rotateX(360deg);
   }
    
}

.Legal_Notice h3{
    font-size: 20px;
    text-decoration: underline;
    padding: 20px;
}
.Legal_Notice p{
 padding-top: 20px;
}