main{                               /*résolution de la taille de l'écran pour meilleur affichage*/
    width: 97%;
    margin: 0 auto;
}
li{                                                     /*liste de plat*/
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
span{                                                   /*prix*/
    padding-top: 20px;
}

h3{                                                             /*titre de chaque partie des menus*/
    width: 40%;
    margin: 0 auto;
}
ul{                                                                                 /*bloc liste*/
    padding-bottom: 20px;
   
}