main{                                       /*résolution de la taille de l'écran pour meilleur affichage*/
    width: 560px; 
    margin: 0 auto;
}
li{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
span{
    padding: 20px;
}
.border{
    flex-direction: column;
}
h3{
    width: 40%;
    margin: 0 auto;
}
ul{                                                                                 /*bloc liste*/
    padding-bottom: 20px;
    

}