body{                                                               /*définition du body*/
    font-family: 'Caveat',serif;
    font-size: 25px;
    color:rgb(71, 31, 24);
    background-color:rgb(253, 220, 218) ;
}
header{                                                                  /*mise en page du header */
    font-size: 50px;   
    font-family: 'Montserrat';
    background-color:rgb(93, 157, 138);
    text-align: center;
    color:rgb(250, 202, 71) ;
    padding: 40px;
    font-weight: bold;
    letter-spacing: -5px;
    border-bottom: 1.5px solid rgb(159, 204, 107);
}
footer{                                                                   /*mise en page du footer*/
    background-color: rgb(93, 157, 138);
    font-size: 20px;
    font-family: 'Montserrat';
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid rgb(159, 204, 107);
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
footer a                                                             /*lien non soulignés et de couleur jaune dans le footer*/
{
    text-decoration: none;
    padding: 0 5px;
    color:rgb(250, 202, 71);
}
footer a:hover{                                                
    animation: wiggles 200ms ease-out infinite;
}                                                                    /*animation du footer*/
@keyframes wiggles{
    
    25%{
        transform: translateX(4px) rotate(1deg);
    }
    75%{
        transform: translateX(-4px) rotate(-1deg);
    }
    
}
main>*:first-child .fa-music{                                                              /*style de la 1ere note de musique */
    font-size: 45px;
    padding-bottom: 10px;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(180deg,rgb(255, 145, 0), rgb(180, 22, 96));
}
main h1{                                                                               /*titre de la page*/
    font-size: 35px;
    font-family: 'Devonshire';
    font-weight: normal;
    
}
main>*:nth-child(1)                                                             /*la note+le titre*/
{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;

}
h3{                                                                             /*titre de chaque partie du menu*/
    font-size: 30px;
    width: 18%;
    text-align: center;
    font-weight: bold;
    margin: 40px auto;
}
h3::after {                                                                     
    content: "";
    display: block;
    height: 3px;
    margin-top: 4px;
    width: 0;
    transition: width 400ms ease-in-out;                                /*animation du surlignement*/
  }
h3:hover::after {
    width: 100%;
    background-image: -webkit-linear-gradient(180deg,rgb(255, 145, 0), rgb(180, 22, 96));
  }
  
li{                                                                                /*liste*/
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
span{                                                                               /*prix*/
    font-weight: bold;
}
ul{                                                                                 /*bloc liste*/
    padding-bottom: 60px;
}
main>*:last-child{                                                                   /*titre du menu à la fin*/
    font-family: 'Devonshire';
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 60px;


}
main>*:last-child .fa-music{                                                        /*la 2ème note de musique*/
    font-size: 35px;
    margin: auto 10px;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(180deg,rgb(255, 145, 0), rgb(180, 22, 96));
}
.border{                                                                        /*titre + bordure*/
    display: flex;
    justify-content: center;
    align-items: center;
}
div div{                                                                        /*bordure*/
    width: 30%;
    height: 5px;
    margin: auto 10px;
    background-color:rgb(71, 31, 24);
}