//*VARIABLES
$bgd-color:rgb(93,157,138);
$txt-color:rgb(250,202,71);
$bgd-menu1:rgb(253,220,218);
$txt-menu1:rgb(71, 31, 24);
$txt-menu2:rgb(223, 137, 67);
$gradient-menu1: $txt-menu2,rgb(221, 76, 120);
$bgd-menu2:rgb(247, 236, 245);
$gradient-menu2:rgb(129, 58, 223),$txt-menu2;
$bgd-menu3:rgb(238, 240, 242);
$txt-menu3:rgb(6, 164, 255);
$gradient-menu3:$txt-menu3,rgb(59, 20, 201);
$bgd-menu4:rgb(255, 255, 255);
$txt-menu4:rgb(96, 189, 83);
$gradient-menu4:rgb(44, 102, 47),rgb(144, 255, 92),rgb(238, 255, 0);
$border-color:rgb(159, 204, 107);
$shadow: lightgrey;

//*MIXINS
@mixin typography {
    font-family: 'Montserrat';
    color:$txt-color;
    width:auto;
    background-color:$bgd-color;
}
@mixin header{
    @include typography;
    font-size: 50px; 
    border-bottom: 1.5px solid rgb(159, 204, 107);
    text-align: center;
    padding: 40px;
    font-weight: bold;
    letter-spacing: -5px;
}
@mixin footer {
    @include typography;
    padding: 20px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid $border-color;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    a {
        text-decoration: none;
        padding: 0 5px;
        color:$txt-color;
        &:hover{
            animation: wiggles 200ms ease-out infinite;
        }
    }
}
header{
    @include header;
}
footer{
    @include footer;
}
.home_page{                                                                 /*mise en page du main*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .fa-music{
        font-size: 40px;
        padding-bottom: 10px;
        background-clip: content-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(180deg,$gradient-menu1);
    }
}
.home_page{
    >:nth-child(1){
        background-color:rgb(253, 220, 218);
        margin: 40px;
        h2{ 
            font-family: 'Devonshire';
            color: $txt-menu1;
        }
        h3{
            font-family: "Itim";
            color: $txt-menu1;
            font-style: italic;
            font-size: 40px;
            margin-top: 40px;
        }
    
    }
}
article{
    width: 40%;
    font-size: 30px;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px;
    box-shadow: 1px 0px 20px $shadow;
    a{                                                                  /*lien non soulignés dans le main*/
        text-decoration: none;  
        display: block;
        &:hover{                                                            /*animation sur le lien des pages*/
            transition: ease-in-out 400ms;
            transform: scale(1.12);
            opacity: 0.7;
        }
    }
    h3{
        margin: 20px;
    }
}
