main{                                       /*résolution de la taille de l'écran pour meilleur affichage*/
    width: 560px; 
    margin: 0 auto;
}

li{                                         /*liste des plats*/
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
ul{                                         /*bloc de chaque partie*/
    margin: auto;
}
h3{                                         /*titre de chaque partie*/
    width: 45%;
}
span{                                       /*prix*/
    padding: 20px;
}
