main{                                       /*résolution de la taille de l'écran pour meilleur affichage*/
    width: 560px; 
    margin: 0 auto;
}
li{
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
ul{
    margin: auto;
    padding-top: 40px;
}
h3{
    width: 45%;
    margin: 0;
}

span{
    padding: 20px;
}