main{                               /*résolution de la taille de l'écran pour meilleur affichage*/
    width: 97%;
    margin: 0 auto;
}
li{                                 /*liste des plats*/
    flex-direction: column;
    align-items: center;
    text-align: center;
}
ul{                                     /*bloc de chaque partie*/
    margin: auto;
    padding: 40px 0;
}
h3{                                     /*titre de chaque partie*/
    width: 50%;
    margin: 0;
}

span{                                       /*prix*/
    padding: 20px;
}