main{                                                           /*résolution de la taille de l'écran pour meilleur affichage*/
    width: 760px;
    margin: 0 auto;
}
h3{                                                             /*titre de chaque partie*/
    width: 22%;
}