body{
    font-family:'Caveat';
    font-size: 23px;
}
header{                                                                  /*mise en page du header */
    font-size: 50px;
    font-family: 'Montserrat';
    background-color:rgb(93, 157, 138);
    text-align: center;
    color:rgb(250, 202, 71) ;
    padding: 40px;
    font-weight: bold;
    letter-spacing: -5px;
    border-bottom: 1.5px solid rgb(159, 204, 107);
}
footer{                                                                   /*mise en page du footer*/
    background-color: rgb(93, 157, 138);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1.5px solid rgb(159, 204, 107);
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
footer a                                                             /*lien non soulignés et de couleur jaune dans le footer*/
{
    text-decoration: none;
    padding: 0 5px;
    color:rgb(250, 202, 71);
    font-family: 'Montserrat';
    font-size: 20px;

}
footer a:hover{                                                
    animation: wiggles 200ms ease-out infinite;
}                                                                    /*animation du footer*/
@keyframes wiggles{
    
    25%{
        transform: translateX(4px) rotate(1deg);
    }
    75%{
        transform: translateX(-4px) rotate(-1deg);
    }
    
}
main h1{
    font-family: 'Kaushan script';
    font-size: 50px;
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(60deg,rgb(58, 124, 61),rgb(144, 255, 92),rgb(238, 255, 0));
    text-align: center;
    padding: 50px;
    margin: 70px 0;
}

main div{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    font-size: 25px;
    width: 19%;
    text-align: center;
    margin: 40px 0;
}
h3::after {                                                                     
    content: "";
    display: block;
    height: 2px;
    margin-top: 4px;
    width: 0;
    transition: width 400ms ease-in-out;                                /*animation du surlignement*/
}
h3:hover::after {
    width: 100%;
    background-image: -webkit-linear-gradient(60deg,rgb(44, 102, 47),rgb(132, 197, 101),rgb(157, 255, 0));
}
li{                                                                                /*liste*/
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
ul{                                                                                 /*bloc liste*/
    padding-bottom: 60px;
    margin: auto 180px;
    
}
span{
    font-weight: bold;
}
main>*:nth-child(7){
    padding-bottom: 130px;
}
div>*:nth-child(1){
    width: 30%;
    height: 100px;
    -webkit-clip-path: polygon(0% 51%, 4% 48%, 14% 49%, 25% 47%, 31% 49%, 40% 46%, 54% 49%, 65% 47%, 76% 49%, 86% 46%, 100% 47%, 99% 53%, 88% 54%, 77% 56%, 65% 54%, 54% 56%, 41% 53%, 32% 55%, 24% 54%, 15% 55%, 6% 53%, 0% 56%);
    clip-path: polygon(0% 51%, 4% 48%, 14% 49%, 25% 47%, 31% 49%, 40% 46%, 54% 49%, 65% 47%, 76% 49%, 86% 46%, 100% 47%, 99% 53%, 88% 54%, 77% 56%, 65% 54%, 54% 56%, 41% 53%, 32% 55%, 24% 54%, 15% 55%, 6% 53%, 0% 56%);
    background-image: -webkit-linear-gradient(60deg,rgb(44, 102, 47),rgb(132, 197, 101),rgb(157, 255, 0));
}
div>*:nth-child(3){
    width: 30%;
    height: 100px;
    -webkit-clip-path: polygon(0% 51%, 4% 48%, 14% 49%, 25% 47%, 31% 49%, 40% 46%, 54% 49%, 65% 47%, 76% 49%, 86% 46%, 100% 47%, 99% 53%, 88% 54%, 77% 56%, 65% 54%, 54% 56%, 41% 53%, 32% 55%, 24% 54%, 15% 55%, 6% 53%, 0% 56%);
    clip-path: polygon(0% 51%, 4% 48%, 14% 49%, 25% 47%, 31% 49%, 40% 46%, 54% 49%, 65% 47%, 76% 49%, 86% 46%, 100% 47%, 99% 53%, 88% 54%, 77% 56%, 65% 54%, 54% 56%, 41% 53%, 32% 55%, 24% 54%, 15% 55%, 6% 53%, 0% 56%);
    background-image: -webkit-linear-gradient(60deg,rgb(157, 255, 0),rgb(132, 197, 101),rgb(44, 102, 47));
}